<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestSuite -->
      <package
            uri="http://example.com/rest/test"
            class="test.TestPackage"
            genModel="model/TestSuite.genmodel"/>
   </extension>

</plugin>
